{% extends "base.html" %}

{% block content %}

    <h1 style = "text-align:center">Admin Portal</h1>
    <a class="btn btn-primary" href="{% url 'create-product' %}" role="button">Create Product</a>
    <p>Total products:{{count}}</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Action</th>
            <th scope="col">Action</th>
          </tr>

          {% for product in products %}
          <tr>
            <td scope="row">{{product.id}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.product_price}}</td>
            <td><a class="btn btn-success" href="{% url 'product-update' product.id %}" role="button">Update</a></td>
            <td><a class="btn btn-danger" href="{% url 'product-delete' product.id%}" role="button">Delete</a></td>
          </tr>
          {% endfor %}
      </table>

{% endblock content %}

